.back{
    background-color: #F0FFF0;
}

.box {
    width: 404px;
    height: 490px;
    background-color: black;
    margin: auto;
    box-sizing: border-box;
}

.logo {
    padding-left: 128px;
    padding-top: 13px;
}

.text {
    color: white;
    font-family: montserrat;
    font-weight: 600;
    font-size: 29px;
    letter-spacing: .39em;
    text-align: center;
}

.btn {
    border: 4px solid white;
    box-sizing: border-box;
    width: 302px;
    height: 50px;
    margin: 26px auto;
    text-align: center;
    padding: 10px;
}

.link {
    font-family: montserrat;
    font-weight: 800;
    font-size: 19px;
    text-decoration: none;
    color: white;
    letter-spacing: .12em;
    font-variant: small-caps;
}